[core]
	editor = vim
	excludesfile = /Users/matt/dotfiles/git/.gitignore_global

[user]
	name = Matthew Batchelder
	email = borkweb@gmail.com

[github]
	user = borkweb

[alias]
	svn-diff = !~/dotfiles/git-svn-diff.sh
	co = checkout
	st = status -s
	ci = commit
	lg = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	d = difftool
	undo = checkout --

[color]
	ui = true

[diff]
	tool = vimdiff
	noprefix = true

[difftool]
	prompt = false

[credential]
	helper = osxkeychain
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
