[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/ack.vim"]
	path = .vim/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
