[submodule ".vim/bundle/Align"]
	path = .vim/bundle/Align
	url = git://github.com/vim-scripts/Align.git
[submodule ".vim/bundle/gundo.vim"]
	path = .vim/bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/snipmate.vim"]
	path = .vim/bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule ".vim/bundle/phpfolding.vim"]
	path = .vim/bundle/phpfolding.vim
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-matchit"]
	path = .vim/bundle/vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/vim-phpunit"]
	path = .vim/bundle/vim-phpunit
	url = git://github.com/klokane/vim-phpunit.git
[submodule ".vim/bundle/vim-powerline"]
	path = .vim/bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-jquery"]
	path = .vim/bundle/vim-jquery
	url = git://github.com/itspriddle/vim-jquery.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git://github.com/leshill/vim-json.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/phpcomplete.vim"]
	path = .vim/bundle/phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = git@github.com:vim-scripts/ag.vim.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-css-color"]
	path = .vim/bundle/vim-css-color
	url = git@github.com:ap/vim-css-color.git
[submodule "zsh/powerline-zsh"]
	path = zsh/powerline-zsh
	url = git@github.com:borkweb/powerline-zsh.git
[submodule ".vim/bundle/PIV"]
	path = .vim/bundle/PIV
	url = git://github.com/spf13/PIV.git
[submodule ".vim/bundle/zencoding-vim"]
	path = .vim/bundle/zencoding-vim
	url = git://github.com/mattn/zencoding-vim.git
[submodule ".vim/bundle/vim-multiedit"]
	path = .vim/bundle/vim-multiedit
	url = git@github.com:hlissner/vim-multiedit.git
[submodule "shell/powerline-shell"]
	path = shell/powerline-shell
	url = git@github.com:borkweb/powerline-shell.git
[submodule ".vim/bundle/move"]
	path = .vim/bundle/move
	url = git@github.com:vim-scripts/move.git
